body {
  margin: 0;
  padding: 0;
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header img {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
}
main h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
main h2 {
  margin-left: 38%;
  margin-top: 2%;
  font-size: 30px;
  color: pink;
  box-shadow: inset;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main p {
  text-align: center;
  margin-top: 1%;
  color: white;
  font-weight: 600;
  margin-bottom: 2%;
}
ul li {
  text-align: center;
  margin-top: 1%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer p {
  margin-top: 4%;
  margin-left: 28%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
