body {
  text-align: center;
}
header {
  text-align: start;
}
section div {
  margin-block: 2rem;
  font-size: 2rem;
}
h1 {
  font-size: 2rem;
}
button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 1rem;
}
button:hover {
  background-color: #00ffff;
  color: white;
}

#circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  margin-inline: auto;
  background: linear-gradient(to right, #00ffff 0%, #c2128d 0%);
}

#circle2 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: white;
  margin-inline: auto;
  margin-block: auto;
  color: black;
  display: flex;
}
#circle2 p {
  margin-block: auto;
  margin-inline: auto;
}
#corrent-answer {
  margin-right: 2rem;
  margin-block: auto;
}
#wrong-answer {
  margin-left: 2rem;
  margin-block: auto;
}
section {
  display: inline-flex;
}
#p1 {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}
#p2 {
  font-size: 50%;
  font-weight: 300;
}
#p3 {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}
#p4 {
  font-size: 50%;
  font-weight: 300;
}
