body {
  text-align: center;
  background-color: #0c113b;
 
}

header {
  text-align: start;
}

section div {
  margin-block: 2rem;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.8rem 3rem;
  font-size: 0.8rem;
  font-weight: bold;
}

button:hover {
  background-color: #00ffff;
  color: white;
}
#conteiner {
  width: 15rem;
  height: 15rem;
}

#circle {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin-inline: auto;
  background: linear-gradient(to right, #00ffff 0%, #c2128d 0%);
  mask-image: radial-gradient(circle at center, transparent 5rem, white 5rem);
}

#circle2 {
  width: 10rem;
  position: absolute;
  padding-block: 5.5rem;
  padding-inline: 2.5rem;
}

#corrent-answer {
  margin-right: 3rem;
  margin-block: auto;
  font-size: 1.8rem;
}

#wrong-answer {
  margin-left: 3rem;
  margin-block: auto;
  font-size: 1.8rem;
}

section {
  display: inline-flex;
}

#p1 {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

#p2 {
  font-size: 50%;
  font-weight: 300;
}

#p3 {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

#p4 {
  font-size: 50%;
  font-weight: 300;
}

#p5 {
  color: white;
}
