html {
  color: white;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 5rem;
}
header img {
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
}
main h1 {
  width: 15rem;
  margin-top: 10%;
  font-size: 50px;
  font-size: 2rem;
}
main h1 span {
  font-weight: bold;
}
main h2 {
  margin-top: 4rem;
  color: pink;
  font-weight: bold;
  font-size: 1.8rem;
}
main p {
  margin-top: 1%;
  font-weight: 600;
  margin-bottom: 2%;
}
ul li {
  margin-top: 1%;
}
footer p {
  display: inline-block;
  margin-top: 4%;
  margin-left: 1rem;
}
footer button {
  margin-left: 1rem;
}
