h1 {
  margin-block: 2rem;
  font-size: 2rem;
  font-weight: 100;
  margin-inline: auto;
}
h1 strong {
  font-weight: bold;
}
main button {
  font-size: inherit;
  color: white;
  width: 15rem;
  border-radius: 2rem;
  padding-block: 1.2rem;
  margin: 0.5rem;
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  box-shadow: 2px 2px 0px 2px rgba(171,171,171,0.49);


}
main div {
  width: 33rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}
body {
  width: 60rem;
}
main,
footer {
  text-align: center;
}

.changeColor {
  background-color: #d20094;
}
main p {
  font-size: 1.3rem;
}

#circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  margin-inline: auto;
  background: linear-gradient(to right, #00ffff 0%, grey 0%);
}

#circle2 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #0b113b;
  margin-inline: auto;
  margin-block: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
#circle2 p {
  margin-block: auto;
  margin-inline: auto;
}

.timerText {
  display: block;
  font-size: small;
}