h1 {
  margin-block: 2rem;
  font-size: 2rem;
  font-weight: 100;
  margin-inline: auto;
}
h1 strong {
  font-weight: bold;
}
main button {
  font-size: inherit;
  width: 15rem;
  border-radius: 2rem;
  padding-block: 1.2rem;
  margin-block: 0.5rem;
}
main div {
  width: 33rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}
body {
  width: 60rem;
}
main,
footer {
  text-align: center;
}

.changeColor {
  background-color: #d20094;
}
main p {
  font-size: 1.3rem;
}

#cerchio {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  margin-inline: auto;
}
#cerchio2 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: white;
  margin-inline: auto;
  margin-block: auto;
  color: black;
  display: flex;
}
#cerchio2 p {
  margin-block: auto;
  margin-inline: auto;
}
