header img {
  display: inline-block;
  margin-right: 50vw;
}

h1 {
  width: 60vw;
  margin-block: 2rem;
  font-size: 1.8rem;
  font-weight: 100;
  margin-inline: auto;
}

h1 strong {
  font-weight: bold;
}

main button {
  font-size: inherit;
  color: white;
  width: 15rem;
  border-radius: 2rem;
  padding-block: 1.2rem;
  margin: 0.5rem;
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  box-shadow: -1px -1px 3px white;
}

main div {
  width: 33rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

main,
footer {
  text-align: center;
}

footer p span {
  font-weight: bold;
  color: #d20094;
}

.changeColor:hover {
  background: linear-gradient(#70014f, #d20094);
}

main p {
  font-size: 1.3rem;
}

#circleContainer {
  display: inline-block;
  margin-left: 60vw;
  left: 19rem;
}

#circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  margin-inline: auto;
  background: linear-gradient(to right, #00ffff 0%, grey 0%);
  mask-image: radial-gradient(circle at center, transparent 2rem, white 2rem);
  position: relative;
}

#circle2 {
  width: 5rem;
  border-radius: 50%;
  margin-inline: auto;
  margin-block: auto;
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  /* left: 19rem; */
}

#timer {
  font-size: 2rem;
  margin-inline: auto;
}

.timerText {
  font-size: 0.4rem;
  margin-inline: auto;
}

.timerText:first-of-type {
  margin-top: 0.5rem;
}

.timerText:last-of-type {
  margin-bottom: 0.5rem;
}

header {
  display: inline-block;
}


.h1-main {
  font-weight: 700;

}

#myForm {
  font-size: 1.3rem;
  margin-top: 1rem;
}


#question-number {
  font-size: 1rem;
  border-radius: 15%;
  background-color: transparent;
  color: white;
  margin-top: 1rem;
}

main h1 {
  font-weight: 700;
}

label {
  font-size: 0.8rem;
  font-weight: 700;
}

#btn-start {
  background-color: grey;
  margin-inline: auto;
  display: block;
  margin-top: 10px;
}

#btn-start:hover {
  background-color: black;
}